__pycache__/
all/
CNN/
MCC/
MCCanalysis/
CNNanalysis/
KNNAnalysis/
oldData/
label_count.csv
augmentations.py
readmeFunny.md
createModelFiles.py
scratch.py
testFeintsModel.py
trainingWalkthrough.py
shotType_V1b_training_log.txt
shotType_V1_training_log.txt
blocks_V2X_training_log.txt
blocks_V2BX_training_log.txt
blocks_V1X_training_log.txt
trickShots_V2X_training_log.txt
trickShots_V1X_training_log.txt
shotType_V2X_training_log.txt
shotType_V2_training_log.txt
shotType_V1X_training_log.txt
shotType_V1bX_training_log.txt
shotType_V1b_training_log.txt
ForLatexConversion.xlsx
modelstructure.yaml
